@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

#root {
  --primary: #0abab5;
  --secondary: #0ce6df;
  --accent: #718096;
  --background: #fff;
  --main: #0d0106;
  --header: #2d3748;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Press{
  font-family: 'Press Start 2P', cursive;
}

.Courier{
  font-family: 'Courier Prime', monospace;
}

.Sniglet{
  font-family: 'Sniglet', cursive;
}

.blink {
  animation: blink 1.5s linear infinite;
  -webkit-animation: blink 1.5s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-shadow {
  text-shadow: 2px 2px 2px #333, -2px -2px 4px #ccc;
}

.bg-pixelate {
  image-rendering: pixelated;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance:textfield; /* Firefox */
    -ms-appearance:textfield; /* Internet Explorer */
}
